/*

    FOR ALL THE PROMPTS. (PROMPT 5)
    Add a CSS stylesheet that styles all of your pages.
*/

button {
	width: 200px; 
	height: 100px;
}

.large-container {
	text-align: center;
}
.large {
	background-color: pink;
	width: 500px;
	height: 500px;
	display: inline-block;
	font-family: helvetica;
}

form {
    border-style: solid;
    width: 300px;
    border-color:coral;
    padding: 15px;
    font-family: arial;
    border-radius: 10px;
}

h2#six {
	font-family: arial;
}

p#result {
	font-family: arial;
}
